<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="form-container-show">
  <h2><%= @movie.name %></h2>
  <div class="two-column">

    <div class="left-column">
      Left
    </div>

    <div class="right-column">
      Right
    </div>

  </div>
</div>
