<div class="picpal-root fill-page">
  <span class="dashboard-heading">
    <h2 class="page-title"> <%= @user.username %> </h2>
  </span>

  <div class="three-columns">
    <div class="column-1">
      My Events (hosting)
      My Events (attending)
    </div>

    <div class="column-2">
      My Movie Reviews
      # of Movies Watched
    </div>

    <div class="column-3">
      # want to watch movie list
      # list of events with movie in want-to-watch list
    </div>
  </div>

</div>
