<div class="events-index fill-page">
  <h2 class="page-title">events</h2>


  <div class="events-container">
    TEST
    <% @events.each do |e| %>
      <% link_to event_path(e.id) do %>
        <span>
          <%= e.title %> | <%= e.datetime.strftime("%A, %m/%d/%Y") %> | <%= e.datetime.strftime("%I:%M%p") %> | <%= e.location %>
        </span>
      <% end %>
    <% end %>
    TEST
  </div>
</div>

# potentially add filtering to this page to sort by movie name, host, datetime
