/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins";
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h2.page-title {
  margin: 75px;
}

.center-on-page {
  margin: 0;
  position: absolute;
  top: 50%;
}

.rounded-form-container {
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height: 150px;
}

a:link, a:visited {
  opacity: 0.5;
  text-decoration: none;
}

a.black-text {
  color: black;
}

a.white-text {
  color:white;
}

a.white-text:hover {
  opacity: 1;
  transition: opacity 500ms linear;
  color: white;
}

a.black-text:hover {
  opacity: 1;
  transition: opacity 500ms linear;
  color: black;
}
