// Place all the styles related to the Movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.fill-page {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.picpal-root {
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}

.movies-index {
  background-image: url('https://images.unsplash.com/photo-1494000423186-5c470f68ed62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  overflow: hidden;
  padding: 20px;
}

div.picpal-root .center-on-page {
  margin: 0 auto;
  width: 100%;
}

div.form-container-2 {
  border-radius: 25px;
  margin: 25px auto;
  width: 50%;
  height: 90%;
  justify-content: center;
  align-content: center;
  opacity: 0.95;
}

div.form-container-show {
  background: white;
  border-radius: 25px;
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  text-align: center;
  opacity: 0.95;
}

input.btn {
  background-color: gainsboro;
}

div.movies-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content:space-between;
  max-height: 600px;
  overflow-y: scroll;
}

div.bubble-card {
  padding: 10px;
}

div.movie-card {
  border-radius: 25px;
  width: 225px;
  height: 100%;
  padding: 15px 10px 10px 10px;
  background: white;
  color: black;
}

.inline {
  width: 100%;
  margin: 25px auto;
  justify-content: center;
}

.stars {
  width: 10px;
}
.movie-card img {
  padding: 5px;
  border-radius: 10px;
  width: 200px;
  height: 275px;
}

div.bubble-card {
  opacity: 0.8;
  text-decoration: none;
}

div.bubble-card a {
  text-decoration: none;
}

div.bubble-card:hover,  a.opaque:hover {
  opacity: 0.95;
  transition: opacity 200ms linear;
}

.two-column {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;
}
