// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.review-card {
  padding: 5px;
  border-radius: 10px;
  width: 100%;
  background-color: #f2f2f2;
}

.review-info {

}

.reviewer-info {
  text-decoration: overline;
}
